/* CSS Color variables */

:root {
    --color-primary: #3498DB;
    --color-secondary: #ECF0F1;

    --font-color-primary: #2C3E50;
    --font-color-secondary: #34495E;
    --font-color-highlight: #1ABC9C;
    --font-color-inverted: #ECF0F1;
}
