/* CSS Color variables */

:root {
    --color-primary: #3498db;
    --color-secondary: #ecf0f1;

    --font-color-primary: #2c3e50;
    --font-color-secondary: #34495e;
    --font-color-highlight: #1abc9c;
    --font-color-inverted: #ecf0f1;
}
