.footer {
    background-color: var(--color-secondary);
    padding: 20px;
    color: var(--font-color-primary);
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline;
    padding: 5px;
    list-style: none;
    text-align: center;
}

footer ul li:hover {
    background-color: var(--color-secondary);
}

footer ul li a {
    display: inline-block;
    min-width: 120px;
    color: var(--font-color-inverted);
}

footer ul li a:hover {
    text-decoration: none;
    color: var(--font-color-primary);
}
