/* Header css */

header {
    top: 0;
    margin: 0;
    border-bottom: solid 5px var(--color-secondary);
    background-color: var(--color-primary);
    padding: 0;
}

header .logo-container {
    display: block;
    padding: 20px;
}

header .logo-container .logo {
    font-size: 2em;
    color: #FFFFFF;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header ul li {
    display: inline;
    padding: 5px;
    list-style: none;
    text-align: center;
}

header ul li:hover {
    background-color: var(--color-secondary);
}

header ul li a {
    display: inline-block;
    min-width: 120px;
    color: var(--font-color-inverted);
}

header ul li a:hover {
    text-decoration: none;
    color: var(--font-color-primary);
}
